{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "donnees_generales_auto",
    "description" : "Cette API vous permet de consulter l’adresse d’un compteur dont le titulaire a autorisé votre entité à accéder aux données.",
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://gw.ext.prod.api.enedis.fr:443/donnees_generales_auto/v1"
  } ],
  "security" : [ {
    "default" : [ ]
  } ],
  "paths" : {
    "/{usage_point_id}" : {
      "get" : {
        "tags" : [ "donnees-generales" ],
        "summary" : "Récupération des données générales d'un PRM",
        "operationId" : "getDonneesGenerales",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Format du body de la requête. Ce header est déterminé automatiquement lorsqu'un body est renseigné dans la requête de l'appel API.",
          "schema" : {
            "type" : "string"
          },
          "example" : "application/json;charset=UTF-8"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Format de réponse acceptable. Ce header est déterminé automatiquement lorsque vous renseignez l'url de l'API.",
          "schema" : {
            "type" : "string"
          },
          "example" : "application/json"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Bearer Token généré par l'api Authentification à renseigner.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "Bearer HPt7dXk6OBY4aoeyqbIvOM6"
        }, {
          "name" : "User-Agent",
          "in" : "header",
          "description" : "Description de l'équipement qui a émis la requêtes (hardware/software). Ce header est déterminé automatiquement lorsque vous renseignez l'url de l'API.",
          "schema" : {
            "type" : "string"
          },
          "example" : "Mozilla/5.0 (Linux; U; Android 4.0.3; fr-fr; LG-L160L Build/IML74K)"
        }, {
          "name" : "Host",
          "in" : "header",
          "description" : "Nom de domaine du serveur. Ce header est déterminé automatiquement lorsque vous renseignez l'url de l'API. Attention, si le port :443 apparait dans l'url, veuillez le supprimer pour que l'appel API soit fonctionnel.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "gw.ext.prod.api.enedis.fr"
        }, {
          "name" : "usage_point_id",
          "in" : "path",
          "description" : "Identifiant du point (PRM)",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "99999999999999"
        } ],
        "responses" : {
          "200" : {
            "description" : "Données générales du PRM",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/address"
                }
              }
            }
          },
          "400" : {
            "description" : "La syntaxe de la requête est erronée.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string"
                    },
                    "message" : {
                      "type" : "string",
                      "example" : "Le paramètre usage_point_id est obligatoire"
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Utilisateur non identifié",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string"
                    },
                    "message" : {
                      "type" : "string",
                      "example" : "L'utilisateur n'est pas identifié"
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Utilisateur non autorisé pour ce endpoint/ressources",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string"
                    },
                    "message" : {
                      "type" : "string",
                      "example" : "Le client n'est pas autorisé pour le point demandé"
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Données générales ou PRM non existant",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string"
                    },
                    "message" : {
                      "type" : "string",
                      "example" : "Données générales ou PRM non existant"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Une erreur technique est survenue",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string"
                    },
                    "message" : {
                      "type" : "string",
                      "example" : "Problème technique dans l'interrogation du SI coeur"
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    }
  },
  "components" : {
    "schemas" : {
      "address" : {
        "type" : "object",
        "properties" : {
          "address" : {
            "$ref" : "#/components/schemas/adresseInstallationNonNormalisee"
          }
        }
      },
      "adresseInstallationNonNormalisee" : {
        "type" : "object",
        "properties" : {
          "staircase_floor_apartment" : {
            "type" : "string",
            "description" : "Escalier, étage, appartement"
          },
          "building" : {
            "type" : "string",
            "description" : "Numéro du bâtiment"
          },
          "number_street_name" : {
            "type" : "string",
            "description" : "Numéro et libellé de la voie",
            "example" : "string"
          },
          "locality" : {
            "type" : "string",
            "description" : "Lieu-dit"
          },
          "postal_code_city" : {
            "type" : "string",
            "description" : "Code postal",
            "example" : "string"
          },
          "insee_code" : {
            "type" : "string",
            "description" : "Code INSEE",
            "example" : "string"
          }
        },
        "description" : "Adresse d'installation postale non normalisée (du PRM)"
      }
    },
    "securitySchemes" : {
      "default" : {
        "type" : "oauth2",
        "flows" : {
          "implicit" : {
            "authorizationUrl" : "https://gw.ext.prod.api.enedis.fr:443/authorize",
            "scopes" : { }
          }
        }
      }
    }
  },
  "x-original-swagger-version" : "2.0"
}