{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "services_souscrits_actifs",
    "description" : "Cette API vous permet de retrouver l’ensemble des services souscrits d’un compteur pour lequel une autorisation a été accordée à votre entité par le titulaire.",
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://gw.ext.prod.api.enedis.fr:443/subscribed_services/v1"
  } ],
  "security" : [ {
    "default" : [ ]
  } ],
  "paths" : {
    "/" : {
      "post" : {
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Format du body de la requête. Ce header est déterminé automatiquement lorsqu'un body est renseigné dans la requête de l'appel API.",
          "schema" : {
            "type" : "string"
          },
          "example" : "application/json;charset=UTF-8"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Format de réponse acceptable. Ce header est déterminé automatiquement lorsque vous renseignez l'url de l'API.",
          "schema" : {
            "type" : "string"
          },
          "example" : "application/json"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Bearer Token généré par l'api Authentification à renseigner.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "Bearer HPt7dXk6OBY4aoeyqbIvOM6"
        }, {
          "name" : "User-Agent",
          "in" : "header",
          "description" : "Description de l'équipement qui a émis la requêtes (hardware/software). Ce header est déterminé automatiquement lorsque vous renseignez l'url de l'API.",
          "schema" : {
            "type" : "string"
          },
          "example" : "Mozilla/5.0 (Linux; U; Android 4.0.3; fr-fr; LG-L160L Build/IML74K)"
        }, {
          "name" : "Host",
          "in" : "header",
          "description" : "Nom de domaine du serveur. Ce header est déterminé automatiquement lorsque vous renseignez l'url de l'API. Attention, si le port :443 apparait dans l'url, veuillez le supprimer pour que l'appel API soit fonctionnel.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "gw.ext.prod.api.enedis.fr"
        } ],
        "requestBody" : {
          "description" : "Les champs suivants sont obligatoires : <br> - siren de l'entité titulaire (pour les collectivités et entreprises autorisées) ou autorisationId (pour les tiers dataconnect) <br> - comptage<br> - etatCode (à remplir sinon renseigné par défaut avec les valeurs [\"ACTIF\", \"DEMANDE])<br> - serviceType (à remplir sinon renseigné par défaut avec la valeur [\"ACCES\"])",
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConsulterServicesSouscritsPaginesDemande"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Services souscrits",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceSouscritReponsePaginee"
                }
              }
            }
          },
          "400" : {
            "description" : "La syntaxe de la requête est erronée.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string"
                    },
                    "message" : {
                      "type" : "string",
                      "example" : "Le paramètre usage_point_id est obligatoire"
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Utilisateur non identifié",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string"
                    },
                    "message" : {
                      "type" : "string",
                      "example" : "L'utilisateur n'est pas identifié"
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Utilisateur non autorisé pour ce endpoint/ressources",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string"
                    },
                    "message" : {
                      "type" : "string",
                      "example" : "Le client n'est pas autorisé pour le point demandé"
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "PRM non existant",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string"
                    },
                    "message" : {
                      "type" : "string",
                      "example" : "PRM non existant"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Une erreur technique est survenue",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string"
                    },
                    "message" : {
                      "type" : "string",
                      "example" : "Problème technique dans l'interrogation du SI coeur"
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-codegen-request-body-name" : "requestBody"
      }
    }
  },
  "components" : {
    "schemas" : {
      "RechercherServicesSouscritsResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "identifiant du service souscrit"
          },
          "injection" : {
            "type" : "boolean",
            "description" : "true si le service concerne des données de production"
          },
          "soutirage" : {
            "type" : "boolean",
            "description" : "true si le service concerne des données de consommation"
          },
          "serviceCode" : {
            "type" : "string",
            "description" : "CCDC pour les services de collecte de courbe de charge, TRANSREC pour les transmissions récurrentes de données de mesure, OPPENR pour les services d'opposition, ACCES pour les services d'accès aux données de mesure"
          },
          "dateDebut" : {
            "type" : "string",
            "description" : "date de début du service au format yyyy-MM-DD"
          },
          "dateFin" : {
            "type" : "string",
            "description" : "date de fin du service au format yyyy-MM-DD"
          },
          "etatCode" : {
            "type" : "string",
            "description" : "état du service",
            "enum" : [ "DEMANDE", "ACTIF", "TERMINE", "SUPPRIME" ]
          },
          "etatLibelle" : {
            "type" : "string",
            "description" : "libellé associé à l'etatCode"
          },
          "pointId" : {
            "type" : "string",
            "description" : "identifiant du point"
          },
          "sirenTitulaire" : {
            "type" : "string",
            "description" : "siren du titulaire du point"
          },
          "sirenBeneficiaire" : {
            "type" : "string",
            "description" : "siren du beneficiaire du service"
          },
          "mesuresTypeCode" : {
            "type" : "string",
            "description" : "type de mesure",
            "enum" : [ "CDC", "IDX", "PMAX", "ENERGIE", "ITC" ]
          },
          "mesuresPas" : {
            "type" : "string",
            "description" : "pas de mesure (PT10M, PT15M, PT30M, P1D, NA)"
          },
          "periodiciteTransmission" : {
            "type" : "string",
            "description" : "périodicité de la publication des données (P1D pour quotidienne, P7D pour hebdomadaire, P1M pour mensuelle)"
          },
          "mesuresCorrigees" : {
            "type" : "boolean",
            "description" : "nature de la donnée (brute ou corrigée)"
          },
          "espaceDynamique" : {
            "type" : "boolean",
            "description" : "true si le service est à destination de l'espace dynamique"
          },
          "publicationDonnees" : {
            "type" : "boolean",
            "description" : "true si le service est un service d'accès avec option de publication"
          },
          "autorisation" : {
            "$ref" : "#/components/schemas/AutorisationServiceSouscrit"
          }
        }
      },
      "AutorisationServiceSouscrit" : {
        "type" : "object",
        "properties" : {
          "autorisationId" : {
            "type" : "integer",
            "description" : "identifiant de l'autorisation",
            "format" : "int64"
          },
          "autorisationLibelle" : {
            "type" : "string",
            "description" : "libellé de l'autorisation"
          },
          "autorisationType" : {
            "type" : "string",
            "enum" : [ "EXPLICITE", "INDUITE", "IMPLICITE" ]
          }
        }
      },
      "ConsulterServicesSouscritsPaginesDemande" : {
        "required" : [ "comptage" ],
        "type" : "object",
        "properties" : {
          "pointId" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "description" : "Liste de PRM (séparés par des virgules) - Max 1000. A minima, pointId ou personneId ou siren doit être renseigné dans la demande",
              "example" : "99999999999999"
            }
          },
          "siren" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "description" : "Liste de Siren (séparés par des virgules) - Max 1000. A minima, pointId ou personneId ou siren doit être renseigné dans la demande",
              "example" : "999999999"
            }
          },
          "dateDebut" : {
            "type" : "string",
            "description" : "Format AAAA-MM-DD. Permet de sélectionner tous les services dont la date de début est supérieure ou égale à dateDebut",
            "format" : "date"
          },
          "dateFin" : {
            "type" : "string",
            "description" : "Format AAAA-MM-DD. Permet de sélectionner tous les services dont la date de fin est supérieure ou égale à dateFin",
            "format" : "date"
          },
          "etatCode" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "description" : "DEMANDE, ACTIF, TERMINE, SUPPRIME",
              "example" : "DEMANDE"
            }
          },
          "serviceType" : {
            "type" : "string",
            "description" : "CCDC, TRANSREC, OPPENR, ACCES",
            "example" : "ACCES"
          },
          "mesureTypeCode" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "description" : "CDC, PMAX, ENERGIE, IDX, ITC",
              "example" : "CDC"
            }
          },
          "soutirage" : {
            "type" : "boolean",
            "description" : "true pour ne remonter que les services en soutirage",
            "example" : true
          },
          "injection" : {
            "type" : "boolean",
            "description" : "true pour ne remonter que les services en injection",
            "example" : false
          },
          "page" : {
            "type" : "integer",
            "description" : "numéro de la page à afficher"
          },
          "comptage" : {
            "type" : "boolean",
            "description" : "true si on ne souhaite remonter que le nombre de services correspondant aux critères de recherche",
            "example" : true
          },
          "autorisationId" : {
            "type" : "integer",
            "description" : "identifiant de l'autorisation dont on souhaite rechercher les services",
            "format" : "int64",
            "example" : 999999999
          },
          "autorisation" : {
            "type" : "boolean",
            "description" : "true = services souscrits issus d'autorisation; false = services souscrits non issus d'autorisation",
            "example" : true
          }
        }
      },
      "ServiceSouscritReponsePaginee" : {
        "type" : "object",
        "properties" : {
          "nbTotalServices" : {
            "type" : "integer",
            "format" : "int64"
          },
          "serviceSouscrit" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RechercherServicesSouscritsResponse"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "default" : {
        "type" : "oauth2",
        "flows" : {
          "implicit" : {
            "authorizationUrl" : "https://gw.ext.prod.api.enedis.fr:443/authorize",
            "scopes" : { }
          }
        }
      }
    }
  },
  "x-original-swagger-version" : "2.0"
}